{{!-- <h1>{{message}}</h1> --}}
{{!-- <h2>{{error.status}}</h2> --}}
<body style="margin: 0px; background: #0e0e0e; height: 100%">
    <img style="display: block;-webkit-user-select: none;margin: auto;background-color: hsl(0, 0%, 90%);transition: background-color 300ms; background-size: contain; max-width:90vw; max-height: 90vh" src="https://http.cat/{{erro}}">
</body>
{{!-- <pre style="color: #0e0e0e;">{{error.stack}}</pre> --}}
