<h1>{{title}}</h1>
{{#if isAuthenticated }}
<p>Olá, {{username}}!</p>
<a href="/users/id">Ver atributos do ID token</a>
<br>
<a href="/auth/signout">Sair</a>
{{else}}
<p>Bem-vindo ao {{title}}</p>
<a href="/auth/signin">Realizar Login</a>
{{/if}}