{{#if isAuthenticated }}
<main class="h-100 p-0">
    <div class="">
        <div class="container-flex mb-3 text-center py-5">
            <div class="row m-0">
                <div class="col-lg-6 col-12 my-auto">
                    <div>
                        <a href="/salas">
                            <button type="button" class="botao">Consultar Salas</button>
                        </a>
                    </div>
                    <div>
                        <a href="">
                            <button type="button" class="botao">Minhas Reservas</button>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/manterSalas">
                            <button type="button" class="botao">Gerenciar Salas</button>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/manterAdmin">
                            <button type="button" class="botao">Gerenciar<br>Administradores</button>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="container horarios">
                        <h5 class="titulo">Reservas de hoje</h5>
                        <div class="tabela mx-auto overflow-auto">
                            <div class="linha row mx-auto">
                                <div class="col-6 text-start" id="sala">
                                    H204
                                </div>
                                <div id="horaReserva"class="col-6 text-end">
                                    7:40-9:10
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{else}}
<main>
    <section id="carrosel">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="carousel carousel-dark slide" id="carouselTelaInicial" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselTelaInicial" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselTelaInicial" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselTelaInicial" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/imagem1.avif" class="w-100 img-fluid img-tela-fundo"
                                    alt="Imagem de uma sala da Mauá em aula">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/imagem2.avif" class="w-100 img-fluid img-tela-fundo"
                                    alt="Imagem de uma sala da Mauá em aula">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/imagem3.avif" class="w-100 img-fluid img-tela-fundo"
                                    alt="Imagem de uma sala da Mauá em aula">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTelaInicial"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTelaInicial"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="informacoes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="texto mt-4" id="texto1">
                        <h2 class="px-lg-5 ms-lg-5 pb-5 pt-2">O que é o Mauá Salas</h2>
                        <p class="px-lg-5 ms-lg-5 pb-5">O objetivo do nosso site é disponibilizar um sistema de reserva de salas prático e modernizado para todos os alunos e funcionários do Instituto Mauá de Tecnologia, de tal modo que seja possível visualizar todas as salas e suas respectivas informações, para poder reservar a melhor sala para suas necessidades.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="imagem p-lg-5 ms-lg-5 pb-5" id="imagem1">
                        <img src="/images/imagem4.avif" alt="Imagem Biblioteca" width="75%">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 order-lg-2">
                    <div class="texto mt-4" id="texto2">
                        <h2 class="px-lg-5 ms-lg-5 pb-5 pt-2">Quem somos nós?</h2>
                        <p class="px-lg-4 ms-lg-5 pb-5 pt-2">Somos um grupo de alunos do Instituto Mauá de Tecnologia, e nós fizemos esse site como nosso Projeto Integrador, com o intuito de melhorar o sistema de reserva de salas.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12 order-lg-1">
                    <div class="imagem p-lg-5 ms-lg-5 pb-3" id="imagem2">
                        <img src="/images/imagem4.avif" alt="Imagem Biblioteca" width="75%">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{/if}}