{{#if isAuthenticated }}
<main class="h-100 p-0">
    <div class="">
        <div class="container-flex mb-3 text-center py-5">
            <div class="row m-0">
                <div class="col-12 my-auto">
                    <div>
                        <a href="/salas" class="botao" type="button">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <svg class="bi bi-search mt-4" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    viewBox="0 0 40 40">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                                <p class="m-0">Consultar Salas</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/manterSalas" class="botao" type="button">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="mt-4 bi bi-door-open"
                                    viewBox="0 0 40 40">
                                    <path d="M8.5 10c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z" />
                                    <path
                                        d="M10.828.122A.5.5 0 0 1 11 .5V1h.5A1.5 1.5 0 0 1 13 2.5V15h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V1.5a.5.5 0 0 1 .43-.495l7-1a.5.5 0 0 1 .398.117zM11.5 2H11v13h1V2.5a.5.5 0 0 0-.5-.5zM4 1.934V15h6V1.077l-6 .857z" />
                                </svg>
                                <p class="m-0">Gerenciar Salas</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/manterBlocos" class="botao" type="button">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="mt-4 bi bi-building"
                                    viewBox="0 0 40 40">
                                    <path
                                        d="M4 2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
                                    <path
                                        d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V1Zm11 0H3v14h3v-2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5V15h3V1Z" />
                                </svg>
                                <p class="m-0">Gerenciar Blocos</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/admin/manterAdmin" class="botao" type="button">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                    class="mt-4 bi bi-person-gear" viewBox="0 0 40 40">
                                    <path
                                        d="M11 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm.256 7a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Zm3.63-4.54c.18-.613 1.048-.613 1.229 0l.043.148a.64.64 0 0 0 .921.382l.136-.074c.561-.306 1.175.308.87.869l-.075.136a.64.64 0 0 0 .382.92l.149.045c.612.18.612 1.048 0 1.229l-.15.043a.64.64 0 0 0-.38.921l.074.136c.305.561-.309 1.175-.87.87l-.136-.075a.64.64 0 0 0-.92.382l-.045.149c-.18.612-1.048.612-1.229 0l-.043-.15a.64.64 0 0 0-.921-.38l-.136.074c-.561.305-1.175-.309-.87-.87l.075-.136a.64.64 0 0 0-.382-.92l-.148-.045c-.613-.18-.613-1.048 0-1.229l.148-.043a.64.64 0 0 0 .382-.921l-.074-.136c-.306-.561.308-1.175.869-.87l.136.075a.64.64 0 0 0 .92-.382l.045-.148ZM14 12.5a1.5 1.5 0 1 0-3 0 1.5 1.5 0 0 0 3 0Z" />
                                </svg>
                                <p class="m-0 ml-0">Gerenciar Admins</p>
                            </div>
                        </a>
                    </div>
                    <div>
                        <a href="/reservas" class="botao" type="button">
                            <div class="h-100 d-flex align-items-center justify-content-center">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-calendar-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                    <path
                                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                                </svg>
                                <p class="m-0">Consultar reservas</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{{else}}
<main>
    <section id="carrosel">
        <div class="container-fluid p-0">
            <div class="row m-0">
                <div class="col-12 p-0">
                    <div class="carousel carousel-dark slide" id="carouselTelaInicial" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselTelaInicial" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselTelaInicial" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselTelaInicial" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/imagem1.avif" class="w-100 img-fluid img-tela-fundo"
                                    alt="Imagem de uma sala da Mauá em aula">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/imagem2.avif" class="w-100 img-fluid img-tela-fundo"
                                    alt="Imagem de uma sala da Mauá em aula">
                            </div>
                            <div class="carousel-item">
                                <img src="/images/imagem3.avif" class="w-100 img-fluid img-tela-fundo"
                                    alt="Imagem de uma sala da Mauá em aula">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselTelaInicial"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselTelaInicial"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="informacoes">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="texto mt-4" id="texto1">
                        <h2 class="px-lg-5 ms-lg-5 pb-5 pt-2">O que é o Mauá Salas</h2>
                        <p class="px-lg-5 ms-lg-5 pb-5">O objetivo do nosso site é disponibilizar um sistema de reserva
                            de salas prático e modernizado para todos os alunos e funcionários do Instituto Mauá de
                            Tecnologia, de tal modo que seja possível visualizar todas as salas e suas respectivas
                            informações, para poder reservar a melhor sala para suas necessidades.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12">
                    <div class="imagem p-lg-5 ms-lg-5 pb-5" id="imagem1">
                        <img src="/images/imagem4.avif" alt="Imagem Biblioteca" width="75%">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12 order-lg-2">
                    <div class="texto mt-4" id="texto2">
                        <h2 class="px-lg-5 ms-lg-5 pb-5 pt-2">Quem somos nós?</h2>
                        <p class="px-lg-4 ms-lg-5 pb-5 pt-2">Somos um grupo de alunos do Instituto Mauá de Tecnologia, e
                            nós fizemos esse site como nosso Projeto Integrador, com o intuito de melhorar o sistema de
                            reserva de salas.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-12 order-lg-1">
                    <div class="imagem p-lg-5 ms-lg-5 pb-3" id="imagem2">
                        <img src="/images/imagem4.avif" alt="Imagem Biblioteca" width="75%">
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{{/if}}