<main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="manter-salas">
                        <div class="lista-salas">
                            <div class="cabecalho-salas m-auto mb-1 w-50">
                                <h4 class="mt-5 d-inline-block">Manter Salas</h4>   
                            </div>
                            <div class="botoes-salas m-auto mb-1 w-50">
                                <button  type="button" class="btn btn-outline-primary d-inline-block mt-1">Adicionar</button>
                                <button type="button" class="btn btn-outline-primary d-inline-block mt-1">Remover</button>
                            </div>
                            <ul class="list-group m-auto mb-5 w-50 justify-content-center">
                               
                            </ul>
                        </div>
                        <div class="troca-salas">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item"><a class="page-link disabled" href="#" aria-label="Anterior" id="PaginaAnt" onclick="trocaPagination(this.id)">&laquo;</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag0" onclick="mostrarSalas(this.innerHTML)">A</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag1" onclick="mostrarSalas(this.innerHTML)">B</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag2" onclick="mostrarSalas(this.innerHTML)">C</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag3" onclick="mostrarSalas(this.innerHTML)">D</a></li> 
                                  <li class="page-item" id="itemPagination"><a class="page-link pagina" href="#" id="pag4" onclick="mostrarSalas(this.innerHTML)">E</a></li>                               
                                  <li class="page-item"><a class="page-link" href="#" aria-label="Próximo" id="PaginaProx" onclick="trocaPagination(this.id)">&raquo;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>