<main>
    <div class="mb-3">
        <div class="container-flex mb-3">
            <h1 class="titulo text-center pt-4">Administradores</h1>
        </div>
        <div class="container p-0 container-adms">
            <div class="row ">
                <div class="col-6">
                    <h5 class="ps-1 text-start">Email</h5>
                </div>
                <div class="col-6">
                    <h5 class="pe-1 text-end">Tipo de Usuário</h5>
                </div>
            </div>
            <div class="container rounded py-1 conteudo">
                <div class="data overflow-auto h-100 w-100">
                    <div class="informacoes row border-bottom pt-2 mb-1">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="container p-0 mt-2 botoes-modal">
            <div class="row">
                <div class="col-12 d-flex justify-content-end">
                    <button type="button" class="btn botao-cadastro " class="col-6 " data-bs-toggle="modal"
                        data-bs-target="#adicionarModal">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
                    <!-- Modal adicionar inicio -->
                    <div class="modal fade" id="adicionarModal" tabindex="-1" aria-labelledby="#adicionarModal"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="adicionarModal">Adicionar Administrador</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="basic-url" class="form-label">Email</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                        <input type="email" class="form-control" placeholder="nome@maua.br"
                                            aria-label="Username" aria-describedby="basic-addon1" id="email_usuario">
                                    </div>
                                    <label for="basic-url" class="form-label">Tipo de usuário</label>
                                    <select class="form-select" aria-label="Default select example" id="tipo_usuario">
                                        <option selected>Selecione o tipo de usuário</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Coordenador</option>
                                        <option value="3">Laboratorista</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn botao-cadastro"
                                        data-bs-dismiss="modal" onclick="cadastrarAdministrador();">Cadastrar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Fim modal -->
                    <div class="modal fade" id="modalEditarAdmin" tabindex="-1" aria-labelledby="#modal-excluir">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="modal-title" id="tituloEditarAdmin">Editar Administrador</div>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <label for="basic-url" class="form-label">Email</label>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text" id="basic-addon1">@</span>
                                        <input type="email" class="form-control" placeholder="email"
                                            aria-label="Username" aria-describedby="basic-addon1" id="email_usuario_edit">
                                    </div>
                                    <label for="basic-url" class="form-label">Tipo de usuário</label>
                                    <select class="form-select" aria-label="Default select example" id="tipo_usuario_edit">
                                        <option selected>Selecione o tipo de usuário</option>
                                        <option value="1">Administrador</option>
                                        <option value="2">Coordenador</option>
                                        <option value="3">Laboratorista</option>   
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn botao-cadastro"
                                        data-bs-dismiss="modal" onclick="editarAdministrador()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal excluir inicio-->
                    <div class="modal fade" id="modalDeletarAdmin" tabindex="-1" aria-labelledby="#modal-excluir"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="tituloDeletarAdmin">Deletar Administrador</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="fs-5">Email</p>
                                    <p id="emailUsuario"></p>
                                    <p class="fs-5">Tipo de usuário
                                    <p>
                                    <p id="tipoUsuario"></p>
                                    <p class="border-top">Essa ação não poderá ser desfeita!</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn botao-cadastro"
                                        data-bs-dismiss="modal" onclick="deletarAdministrador()">Remover</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal fim-->
</main>