<main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="manter-salas">
                        <div class="lista-salas">
                            <div class="cabecalho-salas m-auto mb-1 w-50">
                                <h4 class="mt-5 d-inline-block">Manter Salas</h4>   
                            </div>
                            <div class="botoes-salas m-auto mb-1 w-50">
                                <button type="button" class="btn btn-outline-primary d-inline-block mt-1">Adicionar</button>
                                <button type="button" class="btn btn-outline-primary d-inline-block mt-1">Remover</button>
                            </div>
                            <ul class="list-group m-auto mb-5 w-50 justify-content-center">
                                <li class="list-group-item">
                                    <p class="d-inline-block mt-3">Sala1</p>
                                    <button type="button" class="btn btn-outline-primary d-inline-block float-end mt-2">Editar</button>
                                </li>
                                <li class="list-group-item">
                                    <p class="d-inline-block mt-3">Sala2</p>
                                    <button type="button" class="btn btn-outline-primary d-inline-block float-end mt-2">Editar</button>
                                </li>
                                <li class="list-group-item">
                                    <p class="d-inline-block mt-3">Sala3</p>
                                    <button type="button" class="btn btn-outline-primary d-inline-block float-end mt-2">Editar</button>
                                </li>
                                <li class="list-group-item">
                                    <p class="d-inline-block mt-3">Sala4</p>
                                    <button type="button" class="btn btn-outline-primary d-inline-block float-end mt-2">Editar</button>
                                </li>
                                <li class="list-group-item">
                                    <p class="d-inline-block mt-3">Sala5</p>
                                    <button type="button" class="btn btn-outline-primary d-inline-block float-end mt-2">Editar</button>
                                </li>
                            </ul>
                        </div>
                        <div class="troca-salas">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                  <li class="page-item"><a class="page-link" href="#">A</a></li>
                                  <li class="page-item"><a class="page-link" href="#">B</a></li>
                                  <li class="page-item"><a class="page-link" href="#">C</a></li>                              
                                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>