<main>
    <!-- Modal Cadastrar -->
<div class="modal fade" id="adicionarModal" tabindex="-1" aria-labelledby="#adicionarModal"
                            aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="adicionarModal">Cadastrar Salas</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <label for="basic-url" class="form-label">Bloco da Sala</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Bloco:</span>
                                            <input type="bloco" class="form-control" placeholder="A, B, C..."
                                                aria-label="bolo da sala" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Número da Sala</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Sala:</span>
                                            <input type="numero" class="form-control" placeholder="100, 101, 102..."
                                                aria-label="numero da sala" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Andar da Sala</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Andar:</span>
                                            <input type="andar" class="form-control" placeholder="1, 2, 3..."
                                                aria-label="andar da sala" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Número de Cadeiras</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Cadeiras:</span>
                                            <input type="cadeiras" class="form-control" placeholder="1, 2, 3..."
                                                aria-label="numero de cadeiras" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Número de Mesas</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Mesas:</span>
                                            <input type="mesas" class="form-control" placeholder="1, 2, 3..."
                                                aria-label="numero de mesas" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Número de Projetores</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Projetores:</span>
                                            <input type="projetores" class="form-control" placeholder="1, 2, 3..."
                                                aria-label="numero de projetores" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Número de Quadros</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Quadros:</span>
                                            <input type="quadros" class="form-control" placeholder="1, 2, 3..."
                                                aria-label="numero de quadros" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Tipo de Quadro</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Selecione o tipo de quadro</option>
                                            <option value="1">Branco</option>
                                            <option value="2">Negro</option>
                                        </select>
                                        </div>
                                        <label for="basic-url" class="form-label">Número de Tomadas</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Tomadas:</span>
                                            <input type="tomadas" class="form-control" placeholder="1, 2, 3..."
                                                aria-label="numero de tomadas" aria-describedby="basic-addon1">
                                        </div>
                                        <label for="basic-url" class="form-label">Tipo de Metodologia</label>
                                        <select class="form-select" aria-label="Default select example">
                                            <option selected>Selecione o tipo de metodologia</option>
                                            <option value="1">Tradicional</option>
                                            <option value="2">Ativa</option>
                                            <option value="3">Laboratório</option>
                                        </select>
                                        <label for="basic-url" class="form-label">Descrição da Sala</label>
                                        <div class="input-group mb-3">
                                            <span class="input-group-text" id="basic-addon1">Descrição:</span>
                                            <input type="descricao" class="form-control" placeholder="Descreva a sala..."
                                                aria-label="descricao da sala" aria-describedby="basic-addon1">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                        <button type="submit" class="btn botao-cadastro"
                                        data-bs-dismiss="modal">Cadastrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fim modal -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="manter-salas">
                        <div class="lista-salas">
                            <div class="cabecalho-salas m-auto mb-1 w-50">
                                <h4 class="mt-5 d-inline-block">Manter Salas</h4>   
                            </div>
                            <div class="botoes-salas m-auto mb-1 w-50">
                                <button  type="button" class="btn btn-outline-primary d-inline-block mt-1">Adicionar</button>
                                <button type="button" class="btn btn-outline-primary d-inline-block mt-1">Remover</button>
                            </div>
                            <ul class="list-group m-auto mb-5 w-50 justify-content-center">
                               
                            </ul>
                        </div>
                        <div class="troca-salas">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                  <li class="page-item"><a class="page-link disabled" href="#" aria-label="Anterior" id="PaginaAnt" onclick="trocaPagination(this.id)">&laquo;</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag0" onclick="mostrarSalas(this.innerHTML)">A</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag1" onclick="mostrarSalas(this.innerHTML)">B</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag2" onclick="mostrarSalas(this.innerHTML)">C</a></li>
                                  <li class="page-item"><a class="page-link pagina" href="#" id="pag3" onclick="mostrarSalas(this.innerHTML)">D</a></li> 
                                  <li class="page-item" id="itemPagination"><a class="page-link pagina" href="#" id="pag4" onclick="mostrarSalas(this.innerHTML)">E</a></li>                               
                                  <li class="page-item"><a class="page-link" href="#" aria-label="Próximo" id="PaginaProx" onclick="trocaPagination(this.id)">&raquo;</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</main>
<script src="/frontend/salasFront.js"></script>