<div class="modal fade" id="modal-confirmar-reserva">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btn-confirmar-reserva" data-bs-dismiss="modal">Confirmar</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="mensagemToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/images/logo.svg" class="rounded me-2" width="15%" alt="...">
      <strong class="me-auto">MauáSalas</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Sala reservada com sucesso!
    </div>
  </div>
</div>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column text-center mt-5">
                    <h4 id="titulo-reserva">H211</h4>
                <img src="/images/SalaModelo1.png" alt="Foto da sala" class="m-auto" width="63%">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="caracteristicas d-flex flex-column m-auto mb-5 mt-5">
                    <h1 class="text-center">CARACTERÍSTICAS</h1>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <p class="nome m-0">Cadeiras</p>
                            <p class="valor float-end" id="cadeiras"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="nome">Mesas</p>
                            <p class="valor float-end" id="mesas"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="nome">Projetores</p>
                            <p class="valor float-end" id="projetores"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="nome">Computadores</p>
                            <p class="valor float-end" id="computadores"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="nome">Quadros</p>
                            <p class="valor float-end" id="quadros"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="nome">Tipo(s) de Quadro(s)</p>
                            <p class="valor float-end" id="tipoQuadro"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="nome">Tomadas</p>
                            <p class="valor float-end" id="tomadas"></p>
                        </li>
                        <li class="list-group-item">
                            <p class="nome">Metodologia</p>
                            <p class="valor float-end" id="metodologia"></p>
                        </li>
                        <li class="list-group-item text-center">
                            <p class="nome">Descrição</p>
                            <p class="valor float-end" id="descricao"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
