<div class="modal fade" id="modal-confirmar-reserva" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reservar sala {{sala}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 data-inicial">
                    <label class="form-label">Selecione uma Data:</label>
                    <input id="calendario-inicio" type="text" placeholder="Ex.: DD/MM/AAAA" class="form-control">
                </div>
                <label for="basic-url" class="form-label">Selecione os horários</label>
                <div class="input-group mb-3">
                    <span class="input-group-text">Hora Inicio:</span>
                    <select id="hora-inicio" class="hora-inicio form-select form-select">
                        <option selected>HH:MM</option>
                        <option value="7-40">7:40</option>
                        <option value="8-30">8:30</option>
                        <option value="9-30">9:30</option>
                        <option value="10-20">10:20</option>
                        <option value="11-20">11:20</option>
                        <option value="12-10">12:10</option>
                        <option value="13-10">13:10</option>
                        <option value="14-00">14:00</option>
                        <option value="15-00">15:00</option>
                        <option value="15-50">15:50</option>
                        <option value="16-50">16:50</option>
                        <option value="17-40">17:40</option>
                        <option value="18-30">18:30</option>
                        <option value="19-20">19:20</option>
                    </select>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text">Hora Fim:</span>
                    <select id="hora-fim" class="hora-fim form-select form-select">
                        <option selected>HH:MM</option>
                        <option value="8-30">8:30</option>
                        <option value="9-20">9:20</option>
                        <option value="10-20">10:20</option>
                        <option value="11-10">11:10</option>
                        <option value="12-10">12:10</option>
                        <option value="13-00">13:00</option>
                        <option value="14-00">14:00</option>
                        <option value="14-50">14:50</option>
                        <option value="15-50">15:50</option>
                        <option value="16-40">16:40</option>
                        <option value="17-40">17:40</option>
                        <option value="18-30">18:30</option>
                        <option value="19-20">19:20</option>
                        <option value="20-10">20:10</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label class="form-label">Recorrencia:</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="recorrencia" id="inlineRadio1"
                            value="unique">
                        <label class="form-check-label" for="inlineRadio1">Única</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="recorrencia" id="inlineRadio2"
                            value="WEEKLY">
                        <label class="form-check-label" for="inlineRadio2">Semanal</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="recorrencia" id="inlineRadio3"
                            value="MONTHLY">
                        <label class="form-check-label" for="inlineRadio3">Mensal</label>
                    </div>
                </div>
                <div class="mb-3 data-final" style="display: none;">
                    <label class="form-label">Selecione a data final:</label>
                    <input id="calendario-final" type="text" placeholder="Ex.: DD/MM/AAAA" class="form-control" >
                </div>
                <div class="mb-3">
                    <label class="form-label">Proposito da reserva:</label><br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="proposito"
                            value="aula">
                        <label class="form-check-label" for="inlineRadio1">Aula</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="proposito"
                            value="comum">
                        <label class="form-check-label" for="inlineRadio2">Comum</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="proposito"
                            value="prova">
                        <label class="form-check-label" for="inlineRadio3">Prova</label>
                    </div>
                </div>
                <div class="aula" style="display:none;">
                    <label for="basic-url" class="form-label">Aula</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Selecione um curso</span>
                        <select id="curso-aula" class="curso-aula form-select form-select" aria-label=".form-select">
                            <option selected>---</option>
                            <option value="ADM">Administração</option>
                            <option value="CIC">Ciência da Computação</option>
                            <option value="DSG">Design</option>
                            <option value="ECV">Engenharia Civil</option>
                            <option value="EAL">Engenharia de Alimentos</option>
                            <option value="ECM">Engenharia de Computação</option>
                            <option value="ECA">Engenharia de Controle e Automação</option>
                            <option value="EPM">Engenharia de Produção</option>
                            <option value="EEL">Engenharia Elétrica</option>
                            <option value="EEN">Engenharia Eletrônica</option>
                            <option value="EMC">Engenharia Mecânica</option>
                            <option value="EQM">Engenharia Química</option>
                            <option value="SIN">Sistemas de Informação</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Matéria:</span>
                        <input id="materia-aula" type="text" placeholder="Ex.: TTI102" class="form-control materia">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Grupo:</span>
                        <input id="grupo" type="number" placeholder="Ex.: 1" class="form-control grupo">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Turma:</span>
                        <input id="turma" type="number" placeholder="Ex.: 2" class="form-control turma">
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Laboratório:</span>
                        <input id="laboratorio" type="number" placeholder="Ex.: 3" class="form-control laboratorio">
                    </div>
                    <label for="basic-url" class="form-label">Nome do Professor</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Nome:</span>
                        <input id="nome-professor" type="text" placeholder="Ex.: Lorem Ipsum" class="form-control nome-professor">
                    </div>
                </div>
                <div class="prova" style="display:none;">
                    <label class="form-label">Prova</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Selecione um curso</span>
                        <select id="curso-prova" class="curso-prova form-select form-select" aria-label=".form-select">
                            <option selected>---</option>
                            <option value="ADM">Administração</option>
                            <option value="CIC">Ciência da Computação</option>
                            <option value="DSG">Design</option>
                            <option value="ECV">Engenharia Civil</option>
                            <option value="EAL">Engenharia de Alimentos</option>
                            <option value="ECM">Engenharia de Computação</option>
                            <option value="ECA">Engenharia de Controle e Automação</option>
                            <option value="EPM">Engenharia de Produção</option>
                            <option value="EEL">Engenharia Elétrica</option>
                            <option value="EEN">Engenharia Eletrônica</option>
                            <option value="EMC">Engenharia Mecânica</option>
                            <option value="EQM">Engenharia Química</option>
                            <option value="SIN">Sistemas de Informação</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <span class="input-group-text">Matéria:</span>
                        <input id="materia-prova" type="text" placeholder="Ex.: TTI102" class="form-control materia">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" id="btn-confirmar-reserva"
                    data-bs-dismiss="modal" onClick="cadastrarReserva()">Reservar</button>
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="mensagemToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="/images/logo.svg" class="rounded me-2" width="15%" alt="...">
      <strong class="me-auto">MauáSalas</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Sala reservada com sucesso!
    </div>
  </div>
</div>
<main>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex flex-column text-center mt-5">
                    <h4 id="titulo-reserva">H211</h4>
                <img src="/images/SalaModelo1.png" alt="Foto da sala" class="m-auto" width="63%">
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="caracteristicas d-flex flex-column m-auto mb-5 mt-5">
                    <h1 class="text-center">CARACTERÍSTICAS</h1>
                    <ul class="list-group">
                    </ul>
                </div>
                <button class="btn btn-primary" data-bs-toggle="modal"
                data-bs-target="#modal-confirmar-reserva">Reservar</button>
            </div>
        </div>
    </div>
</main>
