main {
    background-color: #f6f6f6;
}

.img-tela-fundo {
    object-fit: cover;

}

.carousel-item {
    text-align: center;
}

.informacoes {
    background-color: #001E38;
}

.texto {
    color: #f6f6f6;
    text-align: center;
}

#texto1 h2 {
    border-top: 15px solid #AAD0F0;
    border-radius: 12px;
}

@media (max-width: 992px) {
    #imagem2 {
        border-bottom: 15px solid #AAD0F0;
        border-radius: 12px;
        margin-bottom: 10px;
    }

    /* css da tela de logado*/
    .botao {
        width: 200px;
        height: 70px;
    }
    svg{
        height: 40px;
        width: 40px;
    }
    
}

@media (min-width: 992px) {
    #texto2 p {
        border-bottom: 15px solid #AAD0F0;
        border-radius: 12px;
    }

    /* css da tela de logado*/

    .botao {
        width: 350px;
        height: 100px;
    }
    svg{
        height: 50px;
        width: 50px;
    }
}

.imagem {
    text-align: center;
}
/* css tela de logado */

a{
    text-decoration: none;
}
.titulo {
    color: #001E38;
}
.botao {
    background-color: #AAD0F0;
    color: #001E38;
    border: 1px solid #001E38;
    border-radius: 7px;
    margin-bottom: 6px;
}
.botao:hover {
    background-color: #f6f6f6;
    
}
botao:hover{
    background-color: #f6f6f6;
}