@media (min-width: 992px) {
    .container-adms {
        width: 700px;
    }
    .botoes-modal {
        width: 700px;
    }
}
main{
    color: #001E38;
    background-color: #F6F6F6;
}   
.conteudo {
    height: 350px;
    border: 1px solid;
    border-color: #001E38;
}

.data {
    width: 100%;
    padding: 0;
    margin: 0;
}
.informacoes{
    transform: scale(0.93);
}


.titulo {
    font-size: x-large;
}

.icon {
    fill: #001E38;
}
.botao-cadastro, .botao-remover{
    background-color: #004785;
    color: #F6F6F6;
}
.botao-cadastro:hover , .botao-remover:hover{
    border: 1px solid #001E38;
}
.input-email{
    border: 0;
    outline: 0;
    background-color: #F6F6F6;
    color: #001E38; 
}
.input-email:hover{
    cursor: text;
}
.input-email:focus{
    border-bottom: 2px solid #001E38 ;
}
.input-select{
    border: 0 none;
    padding-top: 0 1px 0 0;
    cursor: pointer;
    outline: 0;
    background-color: #F6F6F6;
    color: #001E38;
    
}
.botao-excluir, .botao-editar {
    border: none;
    background-color: #F6F6F6;
    padding: 0;
}
